<nav>
  <a class="home" href="/">Home</a>
  <a href="/add/album">Add new album</a>
  <form class="list-order-button" action="" method="POST">
    <button type="submit" class="list-order-button">Order price descending</button>
    <input type="text" name="sort_opt" value="DESC" hidden>
  </form>
  <form class="list-order-button" action="" method="POST">
    <button type="submit" class="list-order-button">Order price ascending</button>
    <input type="text" name="sort_opt" value="ASC" hidden>
  </form>
</nav>

<div class="list-headings list-item">
  <span class="list-id">ID</span>
  <span class="list-title">Album Name</span>
  <span class="list-artist">Artist</span>
  <span class="list-id">Price</span>
  <span class="list-id">In stock</span>
  <span class="list-album-date">Release Date</span>
  <span class="list-id"># of songs</span>
</div>

<div class="list-container">
  {{#each data}}
  <a href="/albums/{{this.id}}" class="list-item">
    <span class="list-id">{{this.id}}</span>
    <span class="list-title">{{this.name}}</span>
    <span class="list-artist">{{this.artist}}</span>
    <span class="list-id">{{this.price}}kr</span>
    <span class="list-id">{{this.in_stock}}</span>
    <span class="list-album-date">{{this.release_date}}</span>
    <span class="list-id">{{this.num_of_songs}}</span>
  </a>
  {{else}}
  <p class="empty">No content</p>
  {{/each}}
</div>